*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

html,body{
    width: 100vw;
    height: 100vh;
}

p{
    line-height: 2;
}
/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.contain{
    display: flex;
    gap: 40px;
    margin-right: 10px;
}

header h1{
    color: #04063D;
    margin-right: 40px;
    font-size: xx-large;
}
header li a{
    color: black;
}

/* MAIN */

    /* apresentacao */
.apresentacao{
    display: grid;
    grid-template-columns: 2.4fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    'h img'
    'des img'
    ;

    margin-top: 90px;
    margin-left: 10px;
    text-align: left;
}
.apresentacao h1{
    grid-area: h;

    color: #04063D;
    font-size: 3em;
    margin-bottom: 0px;
}
.apresentacao p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.image{

    grid-area: img;
    margin-left: 40px;
    position: relative;
    line-height: 0;
}

.image img{
    width: 200px;
    border-radius: 0.5rem;
}

.image .abstract{
    position: absolute;
    top: -1rem;
    right: 5rem;
    z-index: -1;
}

.image::after{
    content: '';
    display: block;
    height: 90%;
    width: 100%;
    border: 1px solid #ECECEC;
    position: absolute;
    top: -1.5rem;
    right: -1.5rem;
    border-radius: 10px;
    z-index: -1;
}

.apresentacao p{
    grid-area: des;
}

button{
    background-color: #04063D;
    border: none;
    padding: 10px;
    width: 120px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
}
button a{
    color: white;
}

/* CONTINUACAO */

.continuacao{
    
}

    /* infos */

ul{
    display: flex;
}

.infos{
    margin-left: 10px;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 50vw 50vw;
    /* grid-template-rows: ; */
    grid-template-areas: 
    "left right"
    ;
}

.continuacao h2, h3{
    font-size: 1.5em;
    color: #04063D;
    margin: 10px 0 10px 0;
}

.continuacao p{
    margin: 10px 0 10px 0;
}

.continuacao .about-left{
    grid-area: left;
}

.continuacao .about-right{
    grid-area: right;
}

    /* skills */

.skills{
    height: 100vh;
    padding: 10px;

    background-color: #F2F6FA;
    text-align: center;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    
}

.skills .title{
    width: 100vw;
}

.skill ,.skill-1,.skill-2,.skill-3{
    width: 250px;
    padding: 10px;
}